html {
  font-size: 16px;
}

p {
  &:where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
    font-size: 15px !important;
  }
}

pre.prismjs {
  font-size: 1rem;
  font-weight: 500;
}

li:not(.sb-anchor, .sb-unstyled, .sb-unstyled li) {
  font-size: 15px;
  font-weight: 500;
}
